[Unit]
Description="Upload service"

[Service]
User=ubuntu
WorkingDirectory=/tmp1/BrabusUploadWorker/
Environment=/tmp1/BrabusUploadWorker/venv/
ExecStart=/tmp1/BrabusUploadWorker/venv/bin/python3 main.py

[Install]
WantedBy=multi-user.target